@import url('https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap');
body {
    background-color:rgba(65, 61, 61, 0.952);
    font-family: 'Roboto Slab', serif;
}
.post {
    background-color:#15202B;
    color: white;
    max-width: 820px;
    width: 100%;
    margin-top: 100px;
    border-radius: 18px;
}
.avatar{
    max-width: 80px;
    width: 100%;
    border-radius: 50%;
}

.post__info{
    display: flex;
    flex-direction: column;
    width: 500px;
    font-size: 20px;
    font-weight: 400px;
    padding-top: 15px;
    transform: translateX(-60px);
}
.post__caption{
    display: flex;
    margin-bottom: 8px;
    
}
.post__photo{
    width: 150px;

}
.post__descr{
    display: flex;
    padding-left: 20px;
    padding-top: 15px;

}

.postImage{
    width: 680px;
    border-radius: 20px;
    transform:translateX(105px);
}


.post__actions{
    display: flex;
    justify-content: space-between;
    margin-left:140px;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 600px;
}
.post__nickname,.post__date{
    margin: 0 10px;
    color: rgba(255, 255, 255, 0.562);
}
.post__sign{
    margin-left:10px ;
}
.post__name{
    font-weight: 600;
    font-size: 22px;
}